<ion-header>

  <ion-navbar>
      <button ion-button icon-only color="royal" menuToggle start>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Etiquetas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div>
      <h6 *ngIf="!canCreateLabel">Debes crear primero una categoria</h6>
      <h6 *ngIf="account.categories && account.categories.length === 0">
          Crea una <strong>ETIQUETA</strong> seleccionando el boton <strong>+</strong>
      </h6>
    </div>

    <ion-list>
      <button ion-item *ngFor="let item of account.categories" (click)="editLabel(item)">
        {{ item.name }}
      </button>
    </ion-list>

    <ion-fab right bottom>
      <button [disabled]="!canCreateLabel" ion-fab (click)="createLabel()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>
