<ion-header>

  <ion-navbar>
      <button ion-button icon-only color="royal" menuToggle start>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>stats</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

    <ion-fab right bottom>
      <button ion-fab (click)="presentActionSheet()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

    <ion-grid>

      <ion-col col-12>
        <ion-list>
          <button ion-item *ngFor="let item of account.operations" (click)="editOperation(item)">
            <ion-grid>
              <ion-row>
                <ion-col col-11>
                  <ion-col col-4>
                      ${{ item.amount }}
                  </ion-col>
                  <ion-col col-4>
                      {{ item.group.name }}
                  </ion-col>
                  <ion-col col-4>
                      {{ item.category.name }}
                  </ion-col>
                </ion-col>
                <ion-col col-1>
                    <ion-icon class="arrow-outflow" *ngIf="item.type === 'outflow'" name="arrow-round-down"></ion-icon>
                    <ion-icon class="arrow-inflow" *ngIf="item.type === 'inflow'" name="arrow-round-up"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </button>
        </ion-list>
      </ion-col>
    </ion-grid>

</ion-content>
