<ion-header>
  <ion-navbar>
    <button ion-button icon-only color="royal" menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>accounts</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="accounts.length === 0">
    <span>Debes crear una cuenta para iniciar el control de tus gastos.</span>
  </div>

  <ion-list>
    <ion-item *ngFor="let account of accounts" (click)="viewdetail(account)">
      <h2>{{ account.name }}</h2>
      <p>Ingresos: $100.000 / Egresos: $35.000</p>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="createAccount()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
